@import "./animation.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nst {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #353535;
  clip-path: inset(0 0 0 0);
}

.wordmark {
  color: #f4f3f1;
  font-family: "Bebas Neue";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 24px;
  cursor: default;
}

.mainTextCon,
.mandarinInput {
  color: #777;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: default;
}

.incorrect {
  color: #ec9495;
}

.correct {
  color: #f4f3f1;
}

.butCon {
  display: flex;
  gap: 36px;
  flex-shrink: 0;
}

.butCon button {
  width: 176px;
  height: 55px;
  flex-shrink: 0;
  background-color: #777;
  color: #f4f3f1;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.replayBut svg {
  width: 24px;
  height: 24px;
}

.nextBut svg {
  width: 40px;
  height: 40px;
}

button.fake3d {
  box-shadow: 0px 10px #494949;
}

button.fake3d.active {
  animation: fake3dPress 0.3s forwards;
}

@keyframes fake3dPress {
  0% {
    box-shadow: 0px 10px #494949;
    transform: translateY(0);
  }
  50% {
    box-shadow: 0px 5px #494949;
    transform: translateY(5px);
  }
  100% {
    box-shadow: 0px 10px #494949;
    transform: translateY(0);
  }
}

button::after {
  position: absolute;
  color: #777;
  font-family: "Bebas Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 75px;
}

.replayBut::after {
  content: "alt+r";
}

.nextBut::after {
  content: "tab";
}

.settingBut::after {
  content: "alt+/";
}

.wordmark,
.butCon {
  transition: all 0.2s ease-in;
}

.unfocused {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.unfocusedCon {
  width: max-content;
  height: 40px;
  flex-shrink: 0;
  color: #f4f3f1;
  font-family: "Bebas Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.unfocusedCon img {
  width: 32px;
  height: 32px;
}

.resultCon {
  cursor: default;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  height: max-content;
  width: max-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin-left: 61px;
  transition: all 0.2s ease-in;
}

.hud {
  position: absolute;
  transition: all 0.2s ease-in;
  color: #f4f3f1;
  font-family: Khand;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.2px;
  opacity: 0;
}

.hudTimer {
  bottom: calc(50% + 77px);
  right: calc(50% + 20px);
}

.hudCounter {
  bottom: calc(50% + 77px);
  left: calc(50% + 20px);
}

#volumnBut,
#hudBut {
  flex-grow: 0;
  background-color: #777;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 10px #494949;
  transition: all 0.2s ease-in;
}

.altButCon button img {
  width: 24px;
  height: 24px;
}

.pressed {
  transform: translateY(5px) !important;
  background-color: #494949 !important;
  box-shadow: 0px 5px #3e3e3e !important;
}

.capsLockWanring {
  width: 176px;
  height: 55px;
  flex-shrink: 0;
  border: #ec9495 3px solid;
  position: absolute;
  border-radius: 15px;
  top: calc(50% + 60px);
  right: 50%;
  transform: translate(50%, 0%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ec9495;
  font-family: "Bebas Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  gap: 10px;
  transition: all 0.2s ease-in;
  z-index: 2;
  backdrop-filter: blur(4px);
  opacity: 0;
}

.capsLockWanring img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: -10;
  opacity: 0;
}

.spinner {
  animation: spin 1s ease-in-out infinite;
}

.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: max-content; /* 確保高度固定 */
  display: flex;
  justify-content: space-between; /* 左右對齊 */
  align-items: end; /* 垂直居中 */
  padding: 0 30px 0 30px; /* 增加內邊距 */
  z-index: 10; /* 確保 footer 在最上層 */
}

.footer .info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 增加段落之間的間距 */
}

.footer .altButCon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  gap: 20px; /* 按鈕之間的間距 */
}

.info p {
  color: #777;
  font-family: Khand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mandarinInput {
  padding: 25px;
  text-align: left;
  background-color: #777;
  color: #353535;
  outline: none;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 50px;
  box-sizing: border-box;
  width: 100%;
  cursor: text;
}

.char {
  font-size: 50px;
  flex-shrink: none;
  display: inline-block;
}

.wordmark {
  position: absolute;
  inset: calc(50% - 300px) auto auto 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%);
}

.mainTextCon {
  display: flex;
  position: absolute;
  inset: calc(50% - 55px) auto auto 50%;
  left: 50%; /* <-- Add this line */
  z-index: 1;
  transform: translateY(-50%);
  user-select: none;
  overflow: hidden;
  min-width: 400px;
}

.mandarinInput {
  position: absolute;
  inset: calc(50% + 55px) auto auto 50%;
  left: calc(50% - 25px); /* <-- Add this line */
  z-index: 1;
  transform: translateY(-50%);
  min-width: 400px;
}

.butCon {
  position: absolute;
  inset: calc(50% + 300px) auto auto 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(-50%);
}

#text,
#input {
  will-change: transform;
}

.settingCon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 450px;
  border-radius: 15px;
  padding: 50px;
  opacity: 0;
  transition: all 0.15s ease-in;
  z-index: -1000;

  /* layout inside */
  display: flex;
  padding-top: 75px;
  gap: 50px;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.settingCon.open {
  opacity: 1;
  z-index: 1000;
}

.settingItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 270px;
  height: max-content;
  justify-content: space-between;
}

.settingCon h1 {
  color: #777;
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.settingCon button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: #777 2px solid;
  background-color: rgba(0, 0, 0, 0);
  color: #777;
  cursor: pointer;
}

.settingCon button.selected {
  background-color: #777;
  color: #f4f3f1;
}

.settingCon button.disable {
  cursor: not-allowed;
}

.settingCon button.withInput {
  border-right: none;
  border-radius: 10px 0 0 10px;
  width: 140px;
  margin-right: -10px;
}

.settingCon button.withInput.selected {
  position: relative;
  border: #777 2px solid;
  border-radius: 10px;
  width: 140px;
  margin-right: -10px;
}

.settingCon input {
  width: 130px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: #777;
  border: #777 2px solid;
  border-left: none;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
